---
---
//colors
$color_alto_approx: rgb(222, 222, 222);
$color_cardinal_approx: #c31337;
$color_pumice_approx: rgb(200, 200, 200);
$color_shady_lady_approx: rgb(165, 165, 165);
$color_pippin_approx: rgb(255,222,223);
$color_gray: #CECECE;
$color_light_gray: rgb(236, 236, 236);
$black: black;
$color_silver_chalice_approx: #aaa;


//sizes

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: $tablet-width - 1;



//ID Tags

#ShowCase{
	background-color: lightgrey;

	h2{
		background-color: limegreen;
	}
}

#HomeButton{
	width: 30%;
	font-size: 20px;
}

#Education, #Experience, #Volunteering_Awards{
	background-color: grey;

	h3{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.row{
		margin: auto;
		padding-bottom: 20px;
	}
}

#Volunteering_Awards{
	p{
		padding-top: 6%;
		padding-bottom: 6%;
	}
}

#ContentsTable{
	background: linear-gradient(to bottom right, white, silver, darkgrey, silver, white);
	box-shadow: 20px 20px lightgrey;
	margin-bottom: 50px;

	ul{
		color: transparent;

		li > a, 
		li > a:hover{
			font-size: 25px;
			color: blue;
			text-decoration: none;
		}
	}

	p{
		margin: auto;
	}
}

// CSS Styling

.center {
	text-align: center;
	margin: auto;
	display: block;
}

.row{
	font-size: 16px;
	margin-bottom: 10%;
	background-color: lightgrey;

	.col-lg-4{
		img{
			width: 100%;
			padding-top: 5%;
			padding-bottom: 5%;
		}
	}

	.col-lg-6{
		ul{
			color: transparent;

			li > p{
				color: black;
			}
		}
	}

	.col-lg-8{
		img{
			max-height: 80px;
			padding-bottom: 5%;
		}

		p{
			padding-top: 2%;
			font-size: 18px;
		}
	}

	ul > li{
		text-align: left;
		font-size: 22px;
	}
}

h2{
	margin-top: 10%;
}

h1, h2{
	background-color: #3A70AB;
	color: white;
	text-shadow: 2px 2px black;
	margin-top: 0px;
	text-align: left;
}

h4{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}

ul{
	li{
		text-align: center;
	}
}

